services:
  api:
    build: ./api
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_URL=http://host.docker.internal:11434
      - OLLAMA_MODEL=html-model:latest

  client:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - api



